.flex{
  display: flex;
}
/*body{
  background: #C41A09;
}*/

/*image*/
iframe{
  z-index: -1;
}
.redText{
  color: red;
  text-decoration: none;
}
.mainBody{
  width: 80%;

}
/******************header******************/
.logoImg {
  width: 180px;
  margin-left: 130px;
  margin-top: 15px;
}



/******************Slider*******************/
.bx-viewport{
  height: 700px
}
.hide{
  display: none !important;
}

#sliderContainer{
  position: relative;
  width: 92%;
  margin: 2% 1% 2% 4%;
  opacity: .95;

}

.bxslider{
  display: flex;
  height: 65%;
  width: 100%;
}
.slide{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100% !important;
  align-content: space-between;
}
.headerReview{
  width: 30%;
  margin: 5% auto 6% auto;
}
.sliderImg {
  width: 25%;
  margin: 0 auto;
}

.textSlider{
  line-height: 1.8;
  font-family: 'Roboto', sans-serif;
  color: #4d4d4d;
  margin: 2% auto;
  font-size: 125%;
  width: 52%;
  text-align: center;
  padding: 5%;
}

.xSign{
  bottom: 1%;
  right: 1%;
  position: fixed;
  width: 45px;
  color: red;
  font-size: 65px;
  font-weight: 900;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/*slide counter*/
.bx-wrapper .bx-pager {
  display: none;
}
/******************button******************/
.bottomRight{
  display: flex;
  position: fixed;
  bottom: 2%;
  right: 0;
  width: 350px;
}


.reviewLogo {
  width: 70%;
  height: 70%;
}
#mainButton{
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  margin-left: 10px;

}
.plusSign {
  font-family: sans-serif;
  color: red;
  padding-bottom: 10px;
  font-weight: 100;
}
.plusSign:hover {
 opacity: 0.1;
}


/*
  .fullDisplay{
    height: 950px;
}  */

